@model ProyectoBasesDatos.Models.Paciente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre</label>
                <input name="Nombre" class="form-control" />
            </div>

            <div class="form-group">
                <label for="PrimerApellido" class="control-label">Primer Apellido</label>
                <input name="PrimerApellido" class="form-control" />
            </div>

            <div class="form-group">
                <label for="SegundoApellido" class="control-label">Segundo Apellido</label>
                <input name="SegundoApellido" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Telefono" class="control-label">Teléfono</label>
                <input name="Telefono" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechanacimiento" class="control-label"></label>
                <input asp-for="Fechanacimiento" class="form-control" />
                <span asp-validation-for="Fechanacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
